<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thank You for Shopping</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body class="done_body">
<div class="done_container">
    <h1>Thank You for Shopping!</h1>
    <p>Your order has been placed successfully.</p>
    <p>If you wish to return to the home page, click the button below.</p>
    <p><a th:href="@{/}">Go back to Home Page</a></p>
</div>
</body>
</html>
